<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
</head>

<body>
    <a href="nav/editprofile" style="font-family: Comfortaa" class="edit">EDIT PROFILE</a>
    <h1 style="color: rgb(79, 145, 245)">myDashboard</h1>
    <mat-tab-group>
        <mat-tab label="myDOTS">
            <br>
            <div>
                <div class="row">
                    <div class="biocol1 center">
                        <img class="face" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Avatar" style="width:200px"><br>
                        <button type="button" class="contactButton">upload new image</button>
                    </div>
                    <div class="biocol2"></div>
                    <div class="biocol3">
                        <br><p></p>
                        <h3>@{{user.username}}</h3><br><p></p>
                        <h1>{{user.name}}</h1><br><p></p>
                        <p><b>Industries:</b> {{user.industry}}</p>
                    </div>
                    <div class="biocol4"></div>
                    <div class="biocol5">
                        <br><p></p>
                        <div class="parent">
                            <i class="fas fa-map-marker-alt inline-block-child"></i> &nbsp;
                            <h3 class="inline-block-child">{{user.location}}</h3>
                        </div>
                        <div class="parent">
                            <div class="inline-block-child">
                                <h3>{{user.ethnicity}}</h3>
                            </div>
                            <div class="inline-block-child">
                                <h3>{{user.gender}}</h3>
                            </div>
                            <div class="inline-block-child">
                                <p>{{user.age}} years old</p>
                            </div>
                        </div>
                        <div class="parent">
                            <div class="inline-block-child">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="inline-block-child">
                                <p>{{user.phone}}</p>
                            </div> &nbsp;
                            <div class="inline-block-child">
                                <i class="fas fa-envelope"></i> 
                            </div>
                            <div class="inline-block-child">
                                    <p>{{user.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="row2col1">
                        <h2>Bio</h2>
                        <p>{{user.bio}}</p>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</body>