<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,shring-to-fit=no"
    />
    <meta name="description" content />
    <link
      href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="form-signin">
      <mat-card align="center" class="auth">
        <p class="rainbow" style="font-size: 200%">Authorization</p>
        <span class="paragraph">
          <p>Hi name, do you authorize the following:</p>
          <p>Access to your basic information</p>
          <ul>
            <li>
              <b>Includes posts,contact lists, and profile information</b>
            </li>
          </ul>
          <p>Access to your account analytics</p>
          <ul>
            <li><b>Includes data around posts and activity </b></li>
          </ul>
        </span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          <b>Cancel</b>
        </button>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          <b>Authorize</b>
        </button>
      </mat-card>
    </div>
  </body>
</html>
