.paragraph {
  font-family: "Comfortaa", cursive;
}
p {
  font-family: "Comfortaa", cursive;
}
ul {
  font-family: "Comfortaa", cursive;
}

.auth {
  display: inline-block;
  position: relative;
  left: 375px;
  top: 100px;
}
