<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,shring-to-fit=no"
    />
    <meta name="description" content />
    <link
      href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <mat-card class="form-signin2" align="center">
      <h1 class="signIn" style="font-size:200% ; color:rgb(48, 96, 226)">
        What We Do
      </h1>
    </mat-card>
    <div class="about-container">
      <div class="boxed">
        <p>
          Dots is...
        </p>
      </div>
    </div>
  </body>
</html>
