<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,shring-to-fit=no"
    />
    <meta name="description" content />
    <link
      href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline|Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <mat-card align="center" style="    position: relative;">
    <h1
      class="signIn"
      style="font-size:200% ;color: rgb(48, 96, 226); "
      align="center"
    >
      Sign Up
    </h1>
      <div class="column">
        <mat-card style="margin-left:500px; margin-top:50px; " align="center">
          <div>
            <b
              style="color: rgb(48, 96, 226);    font-family: 'Comfortaa', cursive;  "
              >I am a: </b>
              <select name="type">
              <option value="influencer" class="dropdown">Influencer</option>
              <option value="Brand/Company">Brand/Company</option> 
              </select><br />
            <input type="text" class="inputs" placeholder="Full Name" [(ngModel)]="name" name="name"/><br />
            <input type="text" class="inputs" placeholder="Email" [(ngModel)]="email" name="email"/><br />
            <input type="text" class="inputs" placeholder="Password" type="password" [(ngModel)]="password"name="password"/><br />
            <input type="text" class="inputs" placeholder="Confirm Password" type="password"/><br />
          </div>

          <div class="checkbox mb-3" align="center">
            <br />
              <button class="inputs-button" type="submit" (click)="join()">
                <b>Join</b>
              </button>
              <br /><br /><b style="font-family: 'Comfortaa', cursive;" ></b>
            </div>
          </mat-card>
          </div>

        
        <div >
               <img class="background2" src = 'assets/background.JPG' >
          </div>
          <div >
              <br><img class="background" src = 'assets/background.JPG' >
         </div>
    </mat-card> 
  </html>
