<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shring-to-fit=no"> 
    <meta name="description" content>
    <title>Admin Login</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline|Montserrat&display=swap" rel="stylesheet">  </head> 
  <body>
        <form class="form-signin">
            <!-- <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
            <h1 class="rainbow signIn" style="font-size:200%, " align="center">Sign Up</h1>
            <div align="center">
                <b style="color:  rgb(28, 158, 250);font-family: 'Montserrat', sans-serif;
                ">I am a: </b><select name="type">
                  <option value="influencer" class="dropdown">Influencer</option>
                  <option value="Brand/Company">Brand/Company</option>
                </select><br>
                <input type="text"  class="inputs" placeholder="Full Name" ><br>
                <input type="text"  class="inputs" placeholder="Email" ><br>
                <input type="text"  class="inputs" placeholder="Password" type="password" ><br> 
                <input type="text"  class="inputs" placeholder="Confirm Password" type="password" ><br> 
 
            </div>
  
            <div class="checkbox mb-3" align="center">
              <br>
              <label>
                <button class="btn btn-lg btn-primary btn-block" type="submit"><b>Join</b></button>
                <br><br><b style="font-family: 'Montserrat', sans-serif;
                ">Already have an account? </b><a (click)=login()>  <b> Login</b></a>

              </label>
            </div >
  
          </form>
    </body>
  
  </html>
