.signIn {
  font-size: 600%;
  text-align: center;
  position: relative;
  top: 20px;
}
.title {
  position: relative;
  top: 20px;
}
.inputs-button {
  position: relative;
  left: 3px;
}
.background {
  height: 15em;
  width: 23em;
  position: relative;
  left: 150px;
  bottom: 100px;
  transform: rotate(-25deg);
  float: left;
}
.background2 {
  height: 15em;
  width: 15em;
  right: 60px;
  bottom: 100px;
  transform: rotate(157deg);
  float: left;
}

.column {
  display: table;
  position: relative;
  right: 50px;
}
