.card {
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
   

  }
  mat-card{
      border-style: double ;
      border-width: thick;
      border-color: rgb(48, 96, 226);
      
    }
    mat-grid-list{
        margin: 50px;
    }
