.welcome {
  height: 60%;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.left {
  display: inline-block;
  margin: 1px;
  border-right: 1px black solid;
  color: rgb(48, 96, 226);
}
.right {
  display: inline-block;
  font-family: "Comfortaa", cursive;
  color: rgb(48, 96, 226);
}

.example-spacer {
  flex: 1 1 auto;
}

.border {
  border-right: solid 2px;
}
