<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shring-to-fit=no"> 
    <meta name="description" content>
    <title>home</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline&display=swap" rel="stylesheet">
</head>
<body class="background">
    <!-- <nav>
            <div  align="end">
                    <button mat-button class="left right"  (click)=login()>Login  </button>
                    <button mat-button  class="left right" (click)=register()>  Create an Account  </button>
                    <button mat-button class="left right"  routerlink=".">  Browse  </button>
            </div>
    </nav> -->
    <span class="rainbow welcome" ><b>HaveYouHeard</b></span>


    <!-- <img src="/Users/christinacampbell/Desktop/ixperience/internship/hyhproj/src/assets/hyhlogo.png" /> -->

</body>
</html>

