// html{
//   background-color: #000;
// }

.welcome{
  font-size: 500%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
// .left{
//   display: inline-block;
//   margin: 1px;
//   border-right: 1px rgb(249, 249, 249) solid;
// }
// .right{
//   display: inline-block;   
// }


