<header>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
 
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline|Montserrat&display=swap" rel="stylesheet">
    <mat-toolbar>
            <span>
                <a href="">
                    <img class="logo" src='assets/cornerLogo.JPG'/>
                </a>
            </span>
            <span class="example-spacer"></span>
            <div  align="end" class="right"  *ngFor = 'let nav of navBar.navItems'>
                <button  (click)='navTo(nav)' >{{nav.name}}</button>   
            </div>
    </mat-toolbar>
</header>
<body>
    <router-outlet></router-outlet>
</body>
