<header>
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline|Montserrat&display=swap" rel="stylesheet">
    <nav>
        <div >
                <img class="logo" src='assets/hyhWhit.png'/>

        <div  align="end">
                <button mat-button class="left right"  (click)=login()><b>Login</b> </button>
                <button mat-button  class="left right" (click)=register()>  <b>Create an Account  </b> </button>
                <button mat-button class="left right"  routerlink=".">  <b>Browse</b> </button>
        </div>
    </div>
    </nav>
</header>
<body>
    <router-outlet></router-outlet>
</body>
