<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,shring-to-fit=no"
    />
    <meta name="description" content />
    <link
      href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="faq-container">
      <div class="boxed">
        <p>
          <strong>Is Dots free?</strong><br />
          Yes! Our goal is to give everyone access to connecting their brands
          with influencers, so you can use Dots free of charge.<br /><br />

          <strong>How do I know an influencer is authentic?</strong><br />
          Authenticity is one of the hardest things to measure. Dots is trying
          to crack the code by measuring influencers' engagment rates and past
          brand deals to provide brands with the most trustworthy influencers in
          the market. With that in mind, our platform aims to only suggest
          influencers with authentic track records.<br /><br />

          <strong>Can I make more than one profile?</strong><br />
          Sure! You can make both an influencer and brand profile if you would
          like.<br />
        </p>
      </div>
    </div>
  </body>
</html>
