<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
</head>

<body>
  <a href="#browse" style="font-family: Comfortaa">Back to Browse</a>
  <br>
  <p></p><br><p></p>
  <input type="text" placeholder="Search for influencers">
  <button type="submit"><i class="fa fa-search"></i></button>
  <br><p></p>
  <div class="container" style="background-color: rgb(28, 158, 250)">
    <h1 style="color: #fcfcfc">TOP MATCHES</h1>
  </div>
  <br><p></p>
  <div class="parent">
    <div class="inline-block-child">
      <div class="container">
        <h1>90%</h1>
        <p>Match</p>
      </div>
    </div>
    <div class="inline-block-child">
      <div class="card parent">
        <div class="inline-block-child">
          <i class="far fa-smile fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Name</b>
          <p><i class="fas fa-map-marker-alt"> Location</i></p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Industry</b>
          <p>Age</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <i class="fab fa-instagram fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Followers</b>
          <p>ER</p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Tags</b>
          <p>Growth Rate</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <h1>4.5</h1>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <i class="fas fa-star fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <button type="button" class="contactButton">Connect</button>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="inline-block-child">
      <div class="container">
        <h1>84%</h1>
        <p>Match</p>
      </div>
    </div>
    <div class="inline-block-child">
      <div class="card parent">
        <div class="inline-block-child">
          <i class="far fa-smile fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Name</b>
          <p><i class="fas fa-map-marker-alt"> Location</i></p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Industry</b>
          <p>Age</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <i class="fab fa-twitter fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Followers</b>
          <p>ER</p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Tags</b>
          <p>Growth Rate</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <h1>4.8</h1>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <i class="fas fa-star fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <button type="button" class="contactButton">Connect</button>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="inline-block-child">
      <div class="container">
        <h1>82%</h1>
        <p>Match</p>
      </div>
    </div>
    <div class="inline-block-child">
      <div class="card parent">
        <div class="inline-block-child">
          <i class="far fa-smile fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Name</b>
          <p><i class="fas fa-map-marker-alt"> Location</i></p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Industry</b>
          <p>Age</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <i class="fab fa-twitter fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Followers</b>
          <p>ER</p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Tags</b>
          <p>Growth Rate</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <h1>4.3</h1>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <i class="fas fa-star fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <button type="button" class="contactButton">Connect</button>
        </div>
      </div>
    </div>
  </div>
  
</body>
