<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shring-to-fit=no"> 
    <meta name="description" content>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

  </head> 
  <body>
      <mat-card  class="form-signin2" align="center">
          <h1 class="signIn" style="font-size:200% ; color:rgb(48, 96, 226)">Sign In</h1>
          <div >
              <input type="text"  class="inputs" placeholder="Email" [(ngModel)]="email" name="email"><br>
              <input type="text"  class="inputs" placeholder="Password" type="password" [(ngModel)]="password" name="password"><br> 

          </div>

          <div class="checkbox mb-3" align="center">
            <br>
            <label>
              <button class="btn btn-lg btn-primary btn-block" type="submit"  (click)=login()><b>Welcome Back</b></button>
              <br><br><b style="font-family: 'Montserrat', sans-serif;
              ">Don't have an account? </b><a (click)= register()>  <b>   Sign up</b></a>

            </label>
          </div >

        </mat-card>
  </body>

</html>
