<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shring-to-fit=no"> 
    <meta name="description" content>
    <title>Admin Login</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline&display=swap" rel="stylesheet">
  </head> 
  <body>
      <form class="form-signin">
          <!-- <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
          <h1 class="rainbow signIn" style="font-size:200%, " align="center">Sign In</h1>
          <div align="center">
              <input type="text"  class="inputs" placeholder="Email" name="email" [(ngModel)]="authUser.email" ><br>
              <input type="text"  class="inputs" placeholder="Password" type="password" name="password" [(ngModel)]="authUser.password"><br> 

          </div>

          <div class="checkbox mb-3" align="center">
            <br>
            <label>
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()"><b>Welcome Back</b></button>
              <br><br><b style="font-family: 'Montserrat', sans-serif;
              ">Don't have an account? </b><a (click)=register()>  <b>   Sign up</b></a>

            </label>
            
          </div>
        </form>
  </body>

</html>
