<!DOCTYPE html>
<html lang="en" background="assets/background.JPG">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,shring-to-fit=no"
    />
    <meta name="description" content />
    <link
      href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Outline&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
  </head>
  <mat-card>
    <h1 class="signIn" style="font-size:200% ;color: rgb(48, 96, 226);">
      Sign In
    </h1>
    <div class="row">
      <div class="column">
        <mat-card
          style="margin-left:500px; margin-top:50px; 
            "
        >
          <div>
            <b>Email:</b> <br /><input
              type="text"
              class="inputs"
              placeholder="Email"
              [(ngModel)]="authUser.email"
              name="email"
            /><br />
            <b>Password:</b><br />
            <input
              type="text"
              class="inputs"
              placeholder="Password"
              type="password"
              [(ngModel)]="authUser.password"
              name="password"
            /><br />
            <label>
              <button class="inputs-button" type="submit" (click)="login()">
                <b>Login</b>
              </button>
              <br /><br /><b
                style="font-family: 'Montserrat', sans-serif;
                        "
                >Don't have an account? </b
              ><a (click)="register()"> <b> Sign up</b></a
              ><br />
            </label>
          </div>
        </mat-card>
      </div>
      <div >
        <br /><img class="background2" src="assets/background.JPG" />
      </div>

      <div >
        <br /><img class="background" src="assets/background.JPG" />
      </div>
    </div>
  </mat-card>
</html>
