

.signIn{
  font-size: 600%;
  text-align: center;
  position: absolute;

  left: 45%;
}
.title {
  position: relative;
  top: 20px;
}
.inputs-button {
  position: relative;
  left: 3px;
}
.background{
  position: absolute;
  left:15%;
  top: 400%;
  z-index: -1;
  transform:rotate(-15deg);


}
.background2{
height: 16em;
width: 20em;
position: absolute;
z-index: -1;
left:50%;
transform:rotate(190deg);


}


  

.column{
  display: table;
  position: absolute;
  right: 40%;
}








