.help-container {
  text-align: center;
  padding: 220px 0px;
}
.help-toolbar {
  width: 70%;
  display: inline-block;
}
.help-icons {
  width: 100px;
  display: inline-block;
}
figure {
  padding: 15px;
  display: inline-block;
}
